{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}
        <div class="login-container">
            <h1>Редактирование сделки</h1>
            {{ form_widget(edit_form) }}
            <div>
                <input class="login login-submit" type="submit" value="Сохранить" />
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}
